[submodule "meta/ryfs"]
	path = meta/ryfs
	url = https://github.com/ry755/ryfs
[submodule "meta/okameron"]
	path = meta/okameron
	url = https://github.com/talonfox/okameron
[submodule "meta/jackal"]
	path = meta/jackal
	url = https://github.com/xrarch/newsdk
