
**/.vscode/
**/.DS_Store

**/boot1.bin
**/boot2.bin
**/*.o
**/*.fxf
**/*.lbr
**/*.fnt
**/*.res
**/*.rsf
**/bg.inc
**/bg.bmp
**/icons.inc
**/icon.inc
**/fox32os.img
**/fox32os.img.tmp
**/romdisk.img
**/romdisk.img.tmp
**/startup.bat
